@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins',sam-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  
  background-color: rgb(248, 239, 237);
  overflow-x: hidden;
}
.navbar{
    background-color: rgb(253, 220, 176);
    width:100%;
    position: fixed;
    transform: translateY(-130px);
    z-index:3;
    
}
.navbar ul{
    display:flex;
   
    justify-content: center; 
   
    margin: 0;
    padding-left:930px;
}
.navbar li{
    list-style-type:none;
    padding:19px;
    color:rgb(212, 124, 104);
    position: relative;
}

.fa-house{
  font-size:23px;
  color:rgb(141, 15, 29) ;
  margin-top:15px;
  transform: translateX(-910px);
}
.fa-house h5{
  transform: translateY(-20px);
  margin-left:40px;
}
.navbar li:after{
  content: "";
  position:absolute;
  background-color: rgb(240, 156, 47);
  height:3px;
  width:0;
  left:0;
  top:50px;
  transition: 0.3s;
}
.navbar li:hover{
  color:rgb(175, 41, 41);
  cursor:pointer;
}
.navbar li:hover:after{
  color:black;
  width:85%;
  left:3px;
  
  
  

}

#head{
    margin:130px;
    
   
    
}

.head1{
  padding-top:60px;
  color: rgb(155, 25, 25);
}
.head1 h2{
  font-weight:500;
  font-size: 20px;
  color:rgb(108, 111, 108);
}
.head1 h1 span{
  position:relative;
}

.head1 h1 span:after{
  content: "";
  position:absolute;
  left:65px;
  top:6px;
  background-color:rgb(248, 239, 237);
  width:70%;
  height:37px;
  border-left: 2px solid rgb(155, 25, 25);
  animation:nameanimation steps(16) 1.5s  infinite;
}
@keyframes nameanimation{
  0%{
    left:65px;
  }
  100%{
    left:210px;
  }
}
.image{
  position:absolute;
  transition: 0.5s;
  background-color: rgb(251, 186, 101);
  width:520px;
  height:550px;
  margin-left:870px;
  transform: translateY(-380px);
  z-index: 1;
  border-radius: 100%  0px  0px 100%;
  box-shadow: 4px 4px 2px rgba(226, 150, 51, 0.5);
  
  
}
.introimg{
  position: absolute;
  width:310px;
  height:310px;
  object-fit: cover;
  border-radius: 100%;
  margin-left:930px;
  transform: translateY(-270px);
  border:5px solid rgb(154, 36, 50);
  transition:0.3s;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  z-index: 2;
}

#head h1{
  font-weight: 500;
  font: 10px;
  letter-spacing: 2px;
  color:rgb(154, 36, 50);
  
}
#head h3{
  font-weight: 500;
  

}

#head .p{
    color: rgb(120, 114, 110);
    letter-spacing: 3px;
    font-size: 27px;;
  }
.fa-square-instagram{
    color:red;
    font-size: 25px;
    
  }
  .fa-linkedin{
    color:blue;
    font-size: 25px;
  }
  .icons i{
    margin:5px;
  }
  .fa-github{
    font-size: 25px;
  }
  .fa-google{
     color: greenyellow;  
     font-size: 25px;
  }
  .navbar a{
    text-decoration: none;
  }

 
  #about{
    display: flex;
    margin-top:270px;
    position:relative;
    
    
    
    
  }

  .image1{
    width:380px;
    height:380px;
    border-radius: 60px;
    border:5px solid rgb(251, 186, 101);
    box-shadow: 3px 3px 10px rgb(251, 186, 101);
    transition: 0.3s;
    
  }
  .image1:hover{
    transform: scale(1.1);
  }
  
  #about h2{
    margin-left:90px;
    margin-top:10px;
    font-size: 30px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(244, 169, 71);
    text-shadow: 1px 1px 10px rgb(251, 186, 101);
  }
  #about h3{
    margin-left:90px;
    margin-top:10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(154, 36, 50);
  }
  .p2{
    margin-left:90px;
    margin-top:25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height:1.9;
   padding:10px;
   color: rgb(120, 114, 110);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .read{
    background-color: rgb(251, 186, 101);
    margin-left:90px;
    margin-top:25px;
    padding:15px;
    padding-left:26px;
    width:140px;
    height:50px;
    border-radius: 100px;
    box-shadow: 2px 2px 10px rgb(251, 186, 101);
    
  }
 
  .read h4{
    color:rgb(154, 36, 50);
    
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .read h4:hover{
    
    text-shadow: 2px 2px 10px rgb(154, 36, 50);
    cursor: pointer;
  }
  #skill{
    margin-top:310px;
    
    
    
  }
  #skill h2{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 175, 4);
    text-shadow: 2px 2px 10px rgb(255, 175, 4);
  }
  #skill h3{
    margin-top: 35px;
    margin-left: 150px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: rgb(120, 114, 110);
  }
  #skill h3:after{
    content:"";
    position:absolute;
    height:3px;
    width:15%;
    left:2px;
    top:40px;
    background-color:rgb(120, 114, 110);
  }
  .skills{
    margin-top:50px;
    margin-left:240px;
    
  }
  .lower{
    width:80%;
    height:15px;
    background-color:rgb(120, 114, 110) ;
    
    border-radius: 5px;
  }
  .lower:hover{
    box-shadow: 2px 2px 10px rgb(120, 114, 110) ;
    
  }
  .upper{
    
    width:90%;
    height:15px;
    background-color:rgb(251, 186, 101);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(251, 186, 101);
    animation:upper 0.9s ease 1;
    
    
    
  }
  @keyframes upper {
    0%{
      width:0%;
    }
    100%{
      width:90%;
    }
    
  }
  .fa-html5{
    color: rgb(249, 163, 3);
  }
  .lower1{
    width:80%;
    height:15px;
    background-color:rgb(120, 114, 110) ;
    
    border-radius: 5px;
  }
  .lower1:hover{
    box-shadow: 2px 2px 10px rgb(120, 114, 110) ;
  }
  .upper1{
    width:80%;
    height:15px;
    background-color:rgb(251, 186, 101);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(251, 186, 101);
    animation:upper1 0.9s ease 1;
   
  }
  @keyframes upper1 {
    0%{
      width:0%;
    }
    100%{
      width:80%;
    }
  }
  .fa-css3-alt{
    color:blue;
  }

  .lower2{
    width:80%;
    height:15px;
    background-color:rgb(120, 114, 110) ;
    
    border-radius: 5px;
  }
  .lower2:hover{
    box-shadow: 2px 2px 10px rgb(120, 114, 110) ;
  }
  .upper2{
    width:65%;
    height:15px;
    background-color:rgb(251, 186, 101);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(251, 186, 101);
    animation:upper2 0.9s ease 1;
  
  }
  @keyframes upper2 {
    0%{
      width:0%;
    }
    100%{
      width:65%;
    }
  }
.fa-square-js{
  color:yellow;
  
}
  .lower3{
    width:80%;
    height:15px;
    background-color:rgb(120, 114, 110) ;
    
    border-radius: 5px;
  }
  .lower3:hover{
    box-shadow: 2px 2px 10px rgb(120, 114, 110) ;
  }
  .upper3{
    width:75%;
    height:15px;
    background-color:rgb(251, 186, 101);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(251, 186, 101);
    animation:upper3 0.9s ease 1;
   
  }
  .fa-python{
    color:rgb(156, 11, 156);
  }
  @keyframes upper3 {
    0%{
      width:0%;
    }
    100%{
      width:75%;
    }
  }
  #projects{
    margin-top:200px;
  }
  #projects h2{
    text-align: center;
    color:rgb(244, 169, 71);
    text-shadow: 1px 1px 10px rgb(251, 186, 101);
  }
#projects .projects_container{
  display:flex;
  width:100%;
  margin-top:40px;
  margin-left:100px;
  position: relative;
  padding:20px;
}
.box1 p,.box2 p,.box3 p{
  margin:15px;
}
#projects .box1, .box2, .box3{
  width:25%;
  margin:25px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: 0.5s;

}
#projects .box1:hover , .box2:hover, .box3:hover{
  transform: scale(1.1);
  background-color: rgb(155, 25, 25);
  color:beige;
  box-shadow: 1px 1px 8px rgb(255, 175, 4);
 

}


#projects .box1 button, .box2 button, .box3 button{
  width:100px;
  padding:6px;
  font-size:15px;
  font-weight: 600;
  margin-left:38%;
  margin-top:10px;
  margin-bottom:20px;
  border-radius: 18px;
  outline: none;
  border:none;
  box-shadow: 2px 2px 10px rgb(255, 175, 4);
  

} 
#projects  .box3 button:hover,.box1 button:hover,.box2 button:hover{
  background-color: rgb(255, 175, 4);
  color:white;
 
}
#contact{
  margin-top:150px;
}
.contact_container{
  background-color: brown;
  color:white;
  padding:20px;
}
.contact_container h2{
  margin-top:60px;
  margin-left:60px;
  font-size: 30px;
  text-decoration: underline;
  
}


.inputs{
  margin-left: 50%;
  width:40%;
  display:flex;
  position:relative;
  bottom:250px;
  
}
.inputs input{
  width:280px;
  margin:15px;
  padding:15px;
  border-radius: 20px;
  border:2px solid rgb(255, 175, 4);
  background-color: rgb(245, 161, 92);
  box-shadow: 1px 1px 10px rgb(255, 175, 4);
  outline:none;
  color:white;
}
.inputs textarea{
  width:600px;
  height:200px;
  margin:15px;
  padding:15px;
  border-radius: 20px;
  border:2px solid rgb(255, 175, 4);
  box-shadow: 1px 1px 10px rgb(255, 175, 4);
  background-color:rgb(245, 161, 92) ;
  outline:none;
  color:white;
}
.inputs .btn{
  outline:none;
  width:100px;
  padding:10px;
  border-radius: 20px;
  background-color: brown;
  box-shadow: 1px 1px 10px rgb(255, 175, 4);
  border:none;
  font-size: 15px;
  color:white;
  margin-left:260px;
  transition: 0.3s;
}
.inputs .btn:hover{
  transform: scale(1.1);
}
.fa-telegram,.fa-phone,.fa-sharp{
  padding:9px;
  font-size: 20px;
  color:rgb(255, 175, 4);
  box-shadow: rgb(255, 175, 4);
}

.ico{
  margin:20px;
  padding:20px;
}
.ic{
  margin-left:50px;
  letter-spacing: 10px;
}
footer{
  background-color: rgb(72, 13, 13);
  padding:30px;
  text-align: center;
  color:white;
}

.inputs h3{
  font-size: 30px;
  font-weight:600;
  margin-left:30px;
}
#services{
  margin:160px;
}
#services h2{
  color:rgb(255, 175, 4);
  text-shadow: 1px 1px 8px rgb(255, 175, 4);
  letter-spacing: 2px;
}
#services .container1{
  margin-top:70px;
  margin-left:40px;
  width:100%;
  display: flex;
  
 
}
.innercontain{
  margin-left:80px;
  box-shadow: 1px 1px 10px rgb(255, 175, 4);
  width:300px;
  border-radius:20px;
  padding:28px;
  transition: 0.3s;
}
.innercontain button{
  outline:none;
  background-color: brown;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 7px brown;
  padding:10px;
  color:white;
  font-size: 10px;
  font-weight: 500;
  margin-top:15px;
}
.fa-code,.fa-crop-simple,.fa-rocket{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  color:rgb(255, 175, 4);
}
.innercontain:hover{
  color:white;
  background-color: brown;
  transform: translateY(-20px);
}
.innercontain button:hover{
  box-shadow: 1px 1px 10px rgb(255, 175, 4);
}
.box1 img,.box2 img,.box3 img{
  width:100%;
  height:200px;
  border-radius:20px 20px 0px 0px;
  border-bottom: 2px solid rgb(255, 175, 4);
  object-fit: cover;


}